<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap"
      rel="stylesheet"
    />
    <link href="./styles.css" rel="stylesheet" />
  </head>
  <body class="bg">
    <div class="container-fluid text-center p-2 bank-title">Banking System</div>
    <div class="button-container">
      <br />
      <a href="/Users"
        ><button
          type="button"
          id="view-users"
          class="btn btn-warning"
          style="font-size: 24px"
        >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View
          Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button></a
      >
      <br />
      <a href="Transactions"><button
        type="button"
        id="transaction-history"
        class="btn btn-warning"
        style="font-size: 24px"
      >
        Transaction &nbsp;History
      </button></a>
    </div>
  </body>
</html>
